**/.idea
**/*.iml
**/.DS_Store
interpreter/src/*.js
interpreter/test/*.js
**/*.js.map
compiler/src/main/java/DLS/generated
compiler/src/playground/generated
compiler/target
compiler/commandsStr.txt
compiler/src/main/g4/input.txt
compiler/src/main/resources/input.txt
compiler/stringConstants.txt
interpreter/test/main.html
