::-webkit-scrollbar {
    display: none;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 700px;
    min-width: 900px;
    background: url("../images/knitted-netting.png");
}

#editor {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 120px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#compile-message {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 10px;
    background: white;
    overflow: auto;
    border-radius: 5px;
    padding: 5px 10px;
}

#compile-message.error {
    color: #bb0000;
}

#compile-message.success {
    color: green;
}

#editor div.breakPoint {
    background: #a8daef;
}

#left {
    position: absolute;
    top: 0;
    left: 10px;
    right: 50%;
    bottom: 0;
}

#right {
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin: 0 10px;
}

#debugger-controller {
    height: 30px;
    width: 100%;
    background: #337ab7;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
}

#debugger-controller > button {
    margin: 0 5px;
}

#reference-ui, #preview-introduction {
    top: 40px;
    position: absolute;
    bottom: 240px;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: auto;
}

#reference-ui {
    display: none;
    background: white;
}

#preview-introduction {
    color: #676767;
    font-size: 2em;
    text-align: center;
    line-height: 560px;
    font-weight: bold;
    text-shadow: 0 2px 0 rgba(255, 255, 255, 0.4);
}

#console {
    position: absolute;
    bottom: 0;
    height: 230px;
    right: 0;
    left: 0;
    margin: 10px 0;
    overflow: auto;
    border-radius: 5px;
    padding: 5px;
    background: white;
}

#console-output {
    width: 100%;
}

#console-output .input-lines, #console-output .output-lines {
    padding-left: 10px;
    font-size: 14px;
    line-height: 20px;
}

#console-output .input-lines {
    border-left: 2px solid lightgray;
}

#console-output .output-lines {
    border-left: 2px solid #5cb85c;
}

#console-output .output-lines.undefined {
    color: lightgray;
}

#console-input {
    resize: none;
    width: 100%;
    border: none;
    height: 1000px;
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 0 12px;
}

#console-input:focus {
    outline: none;
}

.ace_gutter-cell:hover {
    cursor: pointer;
}

.ace_gutter-cell.ace_breakpoint, .ace_gutter-cell.stopped{
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 1px 1px #3b81c5 inset;
}

.ace_gutter-cell.stopped {
    color: white;
    background: #337ab7;
}

.container-box-shadow {
    box-shadow: 0 1px 3px #525050;
}

#editor .ace_purple {
    color: purple;
}

.ace_question {
    color: red;
}

.ace_question_row {
    color: #985f0d;
}

.ace_question_col {
    color: #985f0d;
}

.ace_submit {
    color: red;
}

.ace_gray {
    color: darkgray;
}