::-webkit-scrollbar {
    display: none;
}

#container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 700px;
    min-width: 900px;
    background: url("../images/knitted-netting.png");
}

#editor {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    bottom: 120px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#compile-message {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 10px;
    background: white;
    overflow: auto;
    border-radius: 5px;
}

#editor div.breakPoint {
    background: #a8daef;
}

#left {
    position: absolute;
    top: 0;
    left: 10px;
    right: 40%;
    bottom: 0;
}

#right {
    position: absolute;
    top: 0;
    left: 60%;
    right: 0;
    bottom: 0;
    padding: 0 10px;
}

#debugger-controller {
    height: 30px;
    width: 100%;
    background: #337ab7;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
}

#debugger-controller > button {
    margin: 0 5px;
}

#reference-ui {
    height: 560px;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    overflow: auto;
    background: white;
}

#console {
    position: absolute;
    bottom: 0;
    top: 610px;
    right: 10px;
    left: 10px;
    margin: 10px 0;
    overflow: auto;
    border-radius: 5px;
    padding: 5px;
    background: white;
}

#console-output {
    width: 100%;
}

#console-input {
    resize: none;
    width: 100%;
    border: none;
    height: 1000px;
}

#console-input:focus {
    outline: none;
}