#question-page.question-page-p1 #question-page-body-left {
    min-width: 400px;
    height: 530px;
    position: relative;
}

#question-page.question-page-p1 .fashion-vt {
    position: absolute;
    top: 0;
    left: 0;
}

#question-page.question-page-p1 #fv-1 {
    z-index: 10;
}

#question-page.question-page-p1 #fv-2 {
    z-index: 9;
}

#question-page.question-page-p1 #fv-3 {
    z-index: 8;
}